
Project X/.vscode
Project X/Logs
Project X/Packages
Project X/Library
Project X/Project X.sln
Project X/Unity.CollabProxy.Editor.csproj
Project X/Unity.Rider.Editor.csproj
Project X/Unity.TextMeshPro.csproj
Project X/Unity.TextMeshPro.Editor.csproj
Project X/Unity.Timeline.csproj
Project X/Unity.Timeline.Editor.csproj
Project X/Unity.VSCode.Editor.csproj
Project X/UnityEditor.TestRunner.csproj
Project X/UnityEditor.UI.csproj
Project X/UnityEngine.TestRunner.csproj
Project X/UnityEngine.UI.csproj
